.episode {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  margin-top: 1em;
  height: auto;
  width: 100%;
  clip-path: polygon(0 4%, 100% 0%, 100% 97%, 0% 100%);
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 10em;
  justify-content: center;
}

#title-episode {
  width: 49%;
  color: #ffffff;
  display: block;
  margin-top: 1em;
  padding-left: .5em;
  padding-bottom: .5em;
}

.spotify {
  height: auto;
  
  iframe{
  width: 96%;
  height: 15em;
  padding-left: .8em;
  padding-bottom: .2em;
}
}

@media screen and (min-width:768px){
  .episode{
    clip-path: polygon(0 8%, 100% 0%, 100% 85%, 0% 100%);
    justify-content: space-around;
    padding-bottom: 6em;
  }
  #title-episode {
    padding-left: 2.3em;
  }    

  .spotify {    
    iframe{
    width: 49%;
    height: 14.5em;
    padding-bottom: .05em;
    padding-left: 1em;
    padding-right: 1em;
  }
  }
}

@media screen and (min-width:1023px){
  .episode{
    clip-path: polygon(0 10%, 100% 0%, 100% 82%, 0% 100%);
    padding-left: 1em;
    padding-bottom: 6em;
  }

  .spotify {
    
    padding-left: 1em;

    #title-episode {
      margin-top: 2em;
      padding-left: 2.35em;
    } 
    
    iframe{
    width: 47%;
    height: 14.5em;
    padding-left: 2em;
  
  }
  
}
  
  

}
