.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 3.5em;
  margin-top: 1.5em;

  .social-network {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    a {
      color: #060a24;
    }
    li:hover {
      a {
        color: #0000ff;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
    p {
      margin-left: 3em;
      margin-right: 0;
    }
    .social-network {
      margin-left: 0;
      margin-right: 0;
      width: 50%;
    }
  }
}

@media screen and (min-width: 1023px) {
  .footer {
    .social-network {
      width: 30%;
    }
  }
}
