.home {
  color: #060a24;
  margin-top: 2em;
  margin-left: 1em;

  p {
    width: 90%;
    margin-top: 1em;
    text-align: justify;
    font-size: .8em;
  }

  .world{
    text-decoration: line-through;
  }

  .pale{
    display: block;
  }

  .text-desktop{
    display: none;
  }
}

@media screen and (min-width:768px){
  .home{
    margin-top: 3em;
    margin-left: 5em;

    .text-mobile{
      display: none;
    }

    .text-desktop{
      display: block;
      width: 50%;
    }

    .pale{
    display: inline-block;
  }
    .conoce{
    width: 18%;
    margin-left: 0;
  }
}
  
}

@media screen and (min-width:1023px){
  .home{
    margin-left: 8em;

    .title-home{
      letter-spacing: .1em;
    }
    .dot{
      color: #0000EC;
  } 
    .text-desktop{
    display: block;
    width: 45%;
    line-height: 1.5em;
  }
    .conoce{
    width: 20%;
  }

}


}