.interview {
  line-height: 0;
  width: 100%;
  img {
    width: 100%;
  }
}

.title-interview {
  width: 288px;
  height: 84px;
  color: #060a24;
  margin-top: 54px;
  margin-left: 16px;
  margin-bottom: 14px;
}
